
<!-- Wafa.BENRHOUMA@esprit-tn.com
182JFT2240w$ -->
<!-- <iframe title="aa" width="1140" height="541.25" src="https://app.powerbi.com/reportEmbed?reportId=6556123a-7814-483d-8b7b-04c932aaf4a1&autoAuth=true&ctid=604f1a96-cbe8-43f8-abbf-f8eaf5d85730" frameborder="0" allowFullScreen="true"></iframe> -->
<nav class="navbar navbar-expand-lg bg-light" style="background-color: #26a69a">
    <div class="container-fluid">
      <a class="navbar-brand center" href="#"><h5>Bienvenue Chez</h5>
        <img src="../../assets/logo2.png" alt="" width="9%" height="50" style="margin-top: 8px;margin-right: 8%;margin-left: 1%;" ></a>
      
      
       
    </div></nav>
    
            <ng-container>
                <div >
                    <div class="progress-bar progress-bar-striped progress-bar-animated bg-primary" role="progressbar"
                        style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
            </ng-container>
            
            <!-- <div class="modal-header">
                <div class="modal-title h4"> import fichier csv  </div>
                <span aria-hidden="true">
                    <i class="ki ki-close" ></i>
                </span>
            </div> -->
              <ng-container>
                <div style="margin: 50px;">
                    <div class="center">
                        <div>
                            <div  style="width:20px ; margin-bottom: 20%;" (click)="filePicker.click()" class="filePicker btn-primary center">
                                <img src="../../assets/csv-icon.png" alt="" style="width:80px ;margin-left: 79px">
                            </div>
                            <div class="center" style="margin-top: 25px;margin-left: -114px;">Veuillez importer un fichier .csv suivant le format:</div>

                            <div  *ngIf="spinner" class="loader"></div>

                            <div  class="filePicker btn-primary center ">
                              <button  *ngIf="click"   (click)="resetForm()" class="btn btn-sm btn-primary mx-2">Prediction_Semaine</button>
                              <button  *ngIf="click"   (click)="resetForm2()"  class="btn btn-sm btn-primary mx-2" style="margin-left: 20%">Prediction_Mois</button>

                           </div>
                          
                           
                        </div>
                    </div>
                    <!-- <div class="center" style="margin-top: 25px;">
                        <div>
                            <p style="font-size: larger;">
                               
                                <b>format</b>
                            </p>
                        </div>
                    </div>
                    <div class="center" style="margin-top: 25px;">
                       
                        <a  class="btn btn-sm btn-primary mx-2">.csv</a>
                       
                    </div> -->
            
                </div>
            </ng-container>
            <div class="row">
            <div class="col-sm" >

              <img  *ngIf="!affichetable" style="width:182px ;" src="../../assets/prevision.png" >
      
          </div>
          <div class="col-sm" style="margin-top: -13%">      
                <table *ngIf="!affichetable&&semaine">
               
               
                 <tr>
                  <th style="width: 10%">Semaine</th>
                  <th style="width: 10%">Predict</th>
                </tr>
                <tr>
                  <td>Semaine 1</td>
                  <td>Maria Anders</td>
                </tr>
                <tr>
                  <td>Semaine 2</td>
                  <td>Francisco Chang</td>
                </tr>
                <tr>
                  <td>Semaine 3</td>
                  <td>Roland Mendel</td>
                </tr>
                <tr>
                  <td>Semaine 4</td>
                  <td>Helen Bennett</td>
                </tr>
                
                
              </table>
              <br>
              <table *ngIf="!affichetable&&mois">
               
               
                <tr>
                 <th style="width: 10%">Mois</th>
                 <th style="width: 10%">Predict</th>
               </tr>
               <tr>
                 <td>Mois 1</td>
                 <td>Maria Anders</td>
               </tr>
               <tr>
                 <td>Mois 2</td>
                 <td>Francisco Chang</td>
               </tr>
               <tr>
                 <td>Mois 3</td>
                 <td>Roland Mendel</td>
               </tr>
               <tr>
                 <td>Mois 4</td>
                 <td>Helen Bennett</td>
               </tr>
               
               
             </table>
            </div>
          </div>
              
              
              
              
              
            
            <input (change)="filePick($event)" #filePicker type="file" name="csv" id="" style="display: none;"
                accept=".csv, .xls, .xlsx">
                