
            <ng-container>
                <div>
                    <div class="progress-bar progress-bar-striped progress-bar-animated bg-primary" role="progressbar"
                        style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
            </ng-container>
            
            <div class="modal-header">
                <div class="modal-title h4"> import fichier csv  </div>
                <span aria-hidden="true">
                    <i class="ki ki-close" ></i>
                </span>
            </div>
              <ng-container>
                <div style="margin: 50px;">
                    <div class="center">
                        <div>
                            <div (click)="filePicker.click()" class="filePicker btn-primary center">
                               <button class="btn btn-sm btn-primary mx-2">Upload Fichier</button>
                            </div>
                            <div *ngIf="click" (click)="resetForm()" class="filePicker btn-primary center">
                              <button class="btn btn-sm btn-primary mx-2">Reset</button>
                           </div>
                        </div>
                    </div>
                    <div class="center" style="margin-top: 25px;">
                        <div>
                            <p style="font-size: larger;">
                               
                                <b>format</b>
                            </p>
                        </div>
                    </div>
                    <div class="center" style="margin-top: 25px;">
                       
                        <a  class="btn btn-sm btn-primary mx-2">.csv</a>
                       
                    </div>
            
                </div>
            </ng-container>
            
            
            <input (change)="filePick($event)" #filePicker type="file" name="csv" id="" style="display: none;"
                accept=".csv, .xls, .xlsx">
             