<nav class="navbar navbar-expand-lg bg-light" style="background-color: #26a69a">
  <div class="container-fluid">
    <a class="navbar-brand center" ><h5>Bienvenue Chez</h5>
      <img src="../../assets/logo2.png" alt="" width="9%" height="50" style="margin-top: 8px;margin-right: 8%;margin-left: 1%;" >
      <div  routerLink="/user" >
      
        <button   class="btn btn-sm btn-primary mx-2" style="background-color: #a6a626;margin-left: 300%;">Prevision</button>

        <!-- <img src="../../assets/prevision0.png" alt="" style="width:33px ;margin-left: 79px"> -->
         
    </div>
      <!-- <button  class="btn btn-sm btn-danger mx-2" routerLink="/user">Reset_Semaine</button> -->
    </a>
    
    

  </div></nav>
  <iframe title="aa" width="1140" height="1000.25" src="https://app.powerbi.com/reportEmbed?reportId=6556123a-7814-483d-8b7b-04c932aaf4a1&autoAuth=true&ctid=604f1a96-cbe8-43f8-abbf-f8eaf5d85730" frameborder="0" allowFullScreen="true"></iframe>
